#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' '
  |
  a(rel='nofollow', target='_blank', href='https://beian.miit.gov.cn')  | 京ICP备15030820号-1 |
  img.nofancybox(src='/img/beian.png',style="margin-bottom: -4px")
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  京公网安备11010502030691号
  |
